:root{
    --color-primary: #242e42;
    --color-secondary: #2f3b52;
    --color-tertiary: #1f8efa;
    --color-text: #fff;
    --border-color: #20293c;
    --fs: .9rem;
    --padding: .5rem;
}
*{
    color: var(--color-text);
    font-family: Roboto;
    font-size: var(--fs);
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1{
    font-size: calc(var(--fs)*3);
}
h2{
    font-size: calc(var(--fs)*2.5);
}
.h6{
    font-size: calc(var(--fs)*1.2);
}
body{
    padding: 0;
    margin: 0;
}
p{margin: 0;}
button, .btn{
    display: inline-block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--padding);
    text-decoration: none;
}
header{
    border-bottom: 1px solid #20293c;
}
.dark-theme{
    background-color: var(--color-primary);
}
.container{
    padding: calc(var(--padding)*3) calc(var(--padding)*6);
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.navbar .navbar-brand{
    padding-right: calc(var(--padding)*2);
}

/* Main Content */
.main{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: calc(var(--padding)*4) 0;
}
.main-content{
    --w: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.menu{
    width: calc(var(--w) - 85%);
}
.content{
    width: calc(var(--w) - 20%);
    margin-right: calc(var(--padding)*6);
}

/*User*/
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(var(--padding)*2);
}
.user-img{
    --size: 100px;
    width: var(--size);
    height: var(--size);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 3px solid #fff;
    border-radius: 50%;
}
.user-text{
    opacity: 60%;
    margin-top: var(--padding);
}
.user-name{
    font-size: calc(var(--fs)*1.4);
    text-decoration: none;
}

/*Nav*/
.nav{
    padding: 0;
    list-style: none;
}
.nav p{display: inline}
.nav .nav-link{
    display: block;
    padding: calc(var(--padding) * 2) calc(var(--padding) * 4);
    text-decoration: none;
}
.nav-link .nav-icon{padding-right: 8px}
.nav-item.active{
    background: #212a3d;
    overflow: hidden;
    border-left: 4px solid var(--color-tertiary);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.nav-item.active .nav-link{
    padding-left: calc(var(--padding) * 4 - 4px);
}
.nav-item.active .nav-link *{
    color: var(--color-tertiary);
}

/*Boards*/
.camera{
    display: flex;
    justify-content: flex-start;
    background-color: rgba(0,0,0,.2);
    padding: calc(var(--padding) / 2);
    margin-bottom: calc(var(--padding) / 2);
}
.camera .camera-room{
    font-size: calc(var(--fs)/1.2);
    padding: calc(var(--padding)/2);
    color: rgba(255,255,255,.5);
}
.camera .camera-room.active{
    color: #fff;
    background-color: var(--color-tertiary);
}

.board-row{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.board-column{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.board-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 var(--padding);
}
.board-header *{font-weight: 100;}
.board-body, .shadow{
    -webkit-box-shadow:  0 0 8px rgba(0,0,0,.1);
    -moz-box-shadow:  0 0 8px rgba(0,0,0,.1);
    box-shadow:  0 0 8px rgba(0,0,0,.1);
}
.board-body{
    background: var(--color-secondary);
    padding: calc(var(--padding) / 2);
}

/*Limit device chart*/
.limit-device, .limit-chart{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.limit-device{
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,.1);
    margin: 20px auto 8px;
    overflow: hidden;
    position: relative;
}
.limit-device-chart{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.limit-device-chart > *{
    position: absolute;
}
.limit-device-chart .limit-chart{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 10px solid transparent;
    border-left: 10px solid var(--color-tertiary);
}
.limit-chart::before, .limit-chart::after{
    content: '';
    position: absolute;
    background-color: var(--color-tertiary);
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.limit-chart::before{
    -webkit-transform: translate(47%, 25%);
    -moz-transform: translate(47%, 25%);
    -ms-transform: translate(47%, 25%);
    -o-transform: translate(47%, 25%);
    transform: translate(47%, 25%);
}
.limit-chart::after{
    bottom: 0;
    left: 0;
    -webkit-transform: translate(47%, -18%);
    -moz-transform: translate(47%, -18%);
    -ms-transform: translate(47%, -18%);
    -o-transform: translate(47%, -18%);
    transform: translate(47%, -18%);
}
.limit-chart:nth-child(1){
    --deg: 90deg;
    -webkit-transform: rotate(var(--deg));
    -moz-transform: rotate(var(--deg));
    -ms-transform: rotate(var(--deg));
    -o-transform: rotate(var(--deg));
    transform: rotate(var(--deg));
}
.limit-chart:nth-child(2){
    --deg: -20deg;
    -webkit-transform: rotate(var(--deg));
    -moz-transform: rotate(var(--deg));
    -ms-transform: rotate(var(--deg));
    -o-transform: rotate(var(--deg));
    transform: rotate(var(--deg));
}

/*View camera*/
.camera-view{
    position: relative;
}
.camera-view-header{
    position: absolute;
    width: calc(100% - 60px);
    top: 5%;
    left: 0;
    padding: 0 30px;
    cursor: default;
}
.camera-recording{
    background-color: rgba(0,0,0,.4);
    padding: 4px;
}
.camera-recording .circ{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.camera-recording .circ-1{
    position: relative;
    background-color: rgba(255,255,255,.31);
    border: 1px solid rgba(255,255,255,.5);
    margin-right: 6px;
}
.camera-recording .circ-2{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,.61);
    border: 1px solid rgba(255,255,255,1);
}
.camera-recording .circ-3{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F8EFA;
    animation-name: recording;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
}
.camera-video{
    width: 100%;
}

/*Animation*/
@keyframes recording {
    from{opacity: 1}
    50%{opacity: .5}
    to{opacity: 1}
}